<header aria-label="Site Header" class="shadow-sm">
  <div class="mx-auto max-w-screen-xl p-4">
      <nav aria-label="Site Nav" class="flex justify-center hidden text-sm font-medium md:flex">
      </nav>
    </div>
  </div>
</header>
