$color-primary: #03045E;
$color-primary-500: #03045E;
$color-secondary: #023E8A;
$color-secondary-500: #023E8A;
$color-blue-2: #0077B6;
$color-blue-2-500: #0077B6;
$color-sky-blue: #0096C7;
$color-sky-blue-500: #0096C7;
$color-light-sky-blue: #00B4D8;
$color-light-sky-blue-500: #00B4D8;
$color-light-blue: #48CAE4;
$color-light-blue-500: #48CAE4;
$color-lighter-blue: #90E0EF;
$color-lighter-blue-500: #90E0EF;
$color-other-blue: #ADE8F4;
$color-other-blue-500: #ADE8F4;
$color-lightest-blue: #CAF0F8;
$color-lightest-blue-500: #CAF0F8;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$font-size-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$font-size-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$font-size-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-primary: #03045E;
  --color-primary-500: #03045E;
  --color-secondary: #023E8A;
  --color-secondary-500: #023E8A;
  --color-blue-2: #0077B6;
  --color-blue-2-500: #0077B6;
  --color-sky-blue: #0096C7;
  --color-sky-blue-500: #0096C7;
  --color-light-sky-blue: #00B4D8;
  --color-light-sky-blue-500: #00B4D8;
  --color-light-blue: #48CAE4;
  --color-light-blue-500: #48CAE4;
  --color-lighter-blue: #90E0EF;
  --color-lighter-blue-500: #90E0EF;
  --color-other-blue: #ADE8F4;
  --color-other-blue-500: #ADE8F4;
  --color-lightest-blue: #CAF0F8;
  --color-lightest-blue-500: #CAF0F8;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}